{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
	<main class="bg-gray-600 flex-grow flex flex-col justify-center items-center px-6 py-8 md:h-full lg:py-0">
		<article class="w-full p-8 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
				<img class="mx-auto h-10 w-auto" src="/images/logos/logo3d.webp" alt="Logo du site">
				<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Créer un compte</h2>
			</div>
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					{{form_start(registrationForm)}}
					{{ form_row(registrationForm.lastname)}}
					{{ form_row(registrationForm.firstname)}}
					{{ form_row(registrationForm.email)}}
					{% for message in app.flashes('error-mail')%}
						<div class="bg-red-400 p-4 ">
							<span class="text-red-800 font-medium">
								{{ message }}
							</span>
						</div>
					{% endfor %}
					{{ form_row(registrationForm.plainPassword)}}
					{{ form_row(registrationForm.RGPDConsent)}}
					{{ form_row(registrationForm.submit)}}


					{{form_end(registrationForm)}}
				<div class="w-full px-4 text-center">
					<p>Déjà inscrit ?
						<a href="{{ path('app_login')}}" type="button" class="cursor-pointer font-medium text-blue-600 hover:underline dark:text-primary-500" >
							Se connecter
						</a>
					</p>
				</div>
			</div>
		</article>
	</main>

{% endblock %}
