{% extends './admin/index.html.twig' %}

{% block meta_description %}
	Page d'administration des catégories pour le blog de Julien web&co freelance
{% endblock %}

{% block title %}
	Liste des categories
{% endblock %}

{% block h1 %}
	Liste des catégories
{% endblock %}
{% block content %}
	<section class="relative overflow-x-auto m-4">
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
				<tr>
					<th scope="col" class="px-6 py-3">
						ID
					</th>
					<th scope="col" class="px-6 py-3">
						Nom
					</th>
					<th scope="col" class="px-6 py-3">
						Parent
					</th>
					<th scope="col" class="px-6 py-3">
						Slug
					</th>
					<th scope="col" class="px-6 py-3">
						Ordre
					</th>
					<th scope="col" class="px-6 py-3">
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
							{{ category.id }}
						</th>
						<td class="px-6 py-4">
							{{ category.name }}
						</td>
						<td class="px-6 py-4">
							{% if category.parent is not null %}
								{{ category.parent.name }}
							{% endif %}
						</td>
						<td class="px-6 py-4">
							{{ category.slug }}
						</td>
						<td class="px-6 py-4">
							{{ category.categoryOrder }}
						</td>
						<td class="px-6 py-4">
							<a href="{{ path('admin_category_edit', {id: category.id})}}" type="button" class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900">Modifier</a>
							<a href="{{ path('admin_category_delete', {id: category.id})}}" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
