{% extends 'base.html.twig' %}

{% block meta_desctiption %}Page d'affichage de l'article nommé
	{{article.title}}, sur le blog de Julien Web&Co.
{% endblock %}

{% block title %}Article
	{{article.title}}
{% endblock %}

{% block body %}
	<main class="mb-48">
		<section class="container m-auto text-blue-900 dark:text-white">
			<h1 class="text-2xl text-center my-4">Article
				{{article.title}}</h1>
			<div class="flex justify-center">
				<img src="{{ asset('assets/uploads/articles/' ~ article.image)}}" alt=""/>
			</div>
			<hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8"/>
			<div class="flex justify-around mt-4 mb-4 ">
				<p>
					Auteur :
					{{article.author}}
				</p>
				<p>
					{% for category in article.category %}
						Catégorie :
						{{ category.name }}
					{% endfor %}
				</p>
				<p>
					publié le :
					{{ article.createdAt|date('d-m-Y H:i:s') }}
				</p>
			</div>
			<hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8"/>
			<div class="">
				{{ article.content|nl2br }}
			</div>
			<hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8"/>
			<div>
				<p>
					{% if comments|length < 1 %}
						<strong>Commentaire</strong>
					{% else %}
						<strong>Commentaires</strong>
					{% endif %}
					<span class="bg-gray-900 text-gray-200 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">{{ comments|length }}</span>
				</p>
			</div>
			<hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8"/>
			{% for comment in comments %}
				<div>
					<div class="flex justify-between py-2 px-4">
						<p>
							Auteur :
							{{comment.author}}
						</p>
						<p>
							publié le :
							{{ comment.createdAt|date('d-m-Y H:i:s') }}
						</p>
					</div>
					<div class='py-2 px-4'>
						<p>{{ comment.content }}</p>
					</div>
				</div>
				<hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8"/>
			{% endfor %}
			{{ form_start(commentForm)}}
			{{ form_row(commentForm.author)}}
			{{ form_row(commentForm.content)}}
			<input type="hidden" name="robot_check" value="123456789">
			<input type="hidden" name="robot_check_1" value="">

			<button class="w-full text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-gray-700 border border-gray-300 dark:hover:bg-gray-400 focus:outline-none dark:focus:ring-gray-700" type="submit">Ajouter un commentaire</button>

			{{ form_end(commentForm) }}

		</section>
	</main>

{% endblock %}
